*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;    
}
html{
    font-size: 10px;
}
body{
    font-family: 'Spartan', sans-serif;
    font-size: 1.5rem;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style: none;
}

